html
    head 
        meta(charset='UTF-8')
        style th,td {border-bottom: 1px solid black;} img{max-width:500px;max-height:500px;}
    body
        h1 Südtirol Abrechnung #{year}
        #main 
            each rechnungen, kasse in kassen
                if rechnungen.length
                    h2 #{kasse}
                    table
                        tr
                            th Betrag 
                            th Posten 
                            th Rechnung
                        each rechnung in rechnungen
                            tr
                                td #{rechnung.betrag}€
                                td #{rechnung.posten}
                                td 
                                    img(
                                        src=`/bild/${rechnung.id}`
                                        onerror="this.parentElement.innerHTML='- unbelegt -'"
                                        )
                                if admin
                                    td 
                                        span #{rechnung.leiter} #{rechnung.bezahlt ? "bezahlt " : ""}
                                        button(
                                            onClick=`confirm('Rechnung ${rechnung.posten} löschen?')?window.location.href='/entfernen/${rechnung.id}':null"`
                                        ) Löschen
                         

            h3 Summe: #{summe} €
        